html
{
    background-color: #181a1b;
    color: #d8d5d0;
    text-align: center;
}

h1
{
    font-weight: bold;
    size: 20px;
}

#circular-img
{
    background-color: #ff9900;
    border-radius: 40px 40px 40px 40px;
    width: 40%;    
}