<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://bucket-project-cloudvet.s3.amazonaws.com/public/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/styleGlobal.css" type="text/css">
    <link rel="stylesheet" href="../static/css/styleIndex.css" type="text/css">
    <script src="../static/js/appIndex.js" type="text/javascript"></script>
    <title>Cloud Vet</title>
</head>
<body>
    
    <br><h1>Cloud Vet</h1>
    <img id="circular-img" src="https://bucket-project-cloudvet.s3.amazonaws.com/public/logo.svg" alt="logo svg">
    <div><br>
        <button onclick="goToRegister()">Registro</button>
        <button onclick="goToConsult()">Consultar</button>
    </div>
    
</body>
</html>