<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://bucket-project-cloudvet.s3.amazonaws.com/public/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/styleGlobal.css">
    <link rel="stylesheet" href="../static/css/styleRegister.css">
    <script src="../static/js/appRegister.js"></script>
    <title>Registrarse - Cloud Vet</title>
</head>
<body>
    <h1>Registro:</h1>
    <div>
        <form action="/register_user" method="post" enctype="multipart/form-data">
            <br>
            <label>Identificacion: </label><input type="text" name="id"><br><br>
            <label>Nombres: </label><input type="text" name="name"><br><br>
            <label>Apellidos: </label><input type="text" name="lastname"><br><br>
            <label>Email: </label><input type="text" name="email" size="25"><br><br>
            <label>Telefono: </label><input type="text" name="telephone" size="25"><br><br>
            <label>Fecha de nacimiento: </label><input type="date" name="birthday"><br><br>
            <label>Genero: <select name="gender">
                    <option value="None">Seleccionar</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Omitido">Prefiero no decirlo</option>
                </select></label><br><br> 
            <label>Direccion: </label><input type="text" name="address" size="25"><br><br>
            <label>Foto de perfil: </label><input type="file" name="photo"><br><br>
            <button type="button" onclick="goBack()">Atras</button>
            <button>Registrar</button><br><br>
        </form><br>
        
    </div>
</body>
</html>